:root {
  --min-width: 1100px;

  --app-width: 100vw;

  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  /* --background-rgb: 214, 219, 220; */

  --accent1: #d5eaed;
  --accent2: hsl(17, 87%, 75%);
  --accent2-dark: hsl(17, 87%, 70%);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-width: 100vw;
  overflow-x: hidden;
}

body {
  font-size: 1.25rem;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea {
  font-size: 1.25rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (min-width: 576px) {}
@media (min-width: 768px) {
  :root {
    --app-width: 85vw;
  }
}
@media (min-width: 992px) {
  :root {
    --app-width: 75vw;
  }
}
@media (min-width: 1200px) {
  :root {
    --app-width: 75vw;
  }
}
@media (min-width: 1400px) {
  :root {
    --app-width: 50vw;
  }
}